.search-bar{
  margin: 20px;
  text-align: center;
  width: 700px;
}

.search-bar input{
  width:85%;
}

.video-detail .details{
  margin-top: 40px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item{
   cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}

.video-title{
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

.mainBody{
  padding: 20px;
  margin-top: 10px;
  background-color: #FFF;
}

.Logo{
  float: left;
  text-align: center;
  position: absolute;
  top: 33px;
  left: 40px;
}

.Logo img{
  width: 250px;
}
